html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Commissioner', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.debug {
  border: 1px solid goldenrod;
}

.time,
.fine-print,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fine-print {
  font-size: 10px;
}

.time {
  letter-spacing: -1px;
}

.main > div {
  max-width: 1098px;
}

p {
  letter-spacing: 1px;
  line-height: 1.9rem;
}
/* Navbar */
#hamburger {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#hamburger span {
  display: flex;
  width: 30px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    margin-left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#hamburger span:first-child {
  transform-origin: 0 0;
}

#hamburger span:nth-last-child(2) {
  transform-origin: 0 100%;
}

.open #hamburger span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -15px);
  background: #36383f;
  margin-left: -5px;
}
.open #hamburger span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.open #hamburger span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 15px);
}

.open #nav {
  transform: none;
}

#nav {
  max-width: 300px;
  box-shadow: 0 0 10px #85888c;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-110%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#nav li {
  transition-delay: 2s;
}

#content-block p {
  line-height: 1.7rem;
}

#content-block p a:link {
  color: darkgrey;
}

#content-block.dark-mode p a:link {
  color: grey;
}

/**/
.banner {
  /*background-image: url("../../public/assets/156725736-many-bright-sunflowers-and-sky-on-background-banner-design.jpeg");*/
  background-repeat: repeat-x;
  background-origin: border-box;
  background-size: contain;
  height: 40px;
}
