{
  "extends": [
    "react-app",
    "react-app/jest",
    "kentcdodds",
    "prettier"
  ],
  "rules": {
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/rule-name": 0,
    "jsx-a11y/click-events-have-key-events": 1,
    "@typescript-eslint/no-unused-vars": 1,
    "react/self-closing-comp": 1,
    "@typescript-eslint/no-unnecessary-condition": 0,
    "@typescript-eslint/no-explicit-any": 1,
    "react/react-in-jsx-scope": 0,
    "react/no-unstable-nested-components": 0,
    "one-var": 0
  }
}
